{
  "basePath": "/",
  "consumes": [
    "application/json"
  ],
  "definitions": {
    "dtypesVoidResponse": {
      "type": "object"
    },
    "v1beta1SendEmailRequest": {
      "properties": {
        "body": {
          "type": "string"
        },
        "receiver_email": {
          "type": "string"
        },
        "sender_email": {
          "type": "string"
        },
        "sender_name": {
          "type": "string"
        },
        "subject": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1beta1SubscribeRequest": {
      "properties": {
        "email": {
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "host": "api.appscode.com",
  "info": {
    "title": "mailinglist.proto",
    "version": "1beta1"
  },
  "paths": {
    "/_appscode/api/mail/v1beta1/json": {
      "post": {
        "operationId": "SendEmail",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1beta1SendEmailRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/dtypesVoidResponse"
            }
          }
        },
        "tags": [
          "MailingList"
        ]
      }
    },
    "/_appscode/api/mailinglist/v1beta1/subscribe/json": {
      "put": {
        "operationId": "Subscribe",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1beta1SubscribeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/dtypesVoidResponse"
            }
          }
        },
        "tags": [
          "MailingList"
        ]
      }
    }
  },
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0"
}