{
  "basePath": "/",
  "consumes": [
    "application/json"
  ],
  "definitions": {
    "v1beta1SSHGetRequest": {
      "properties": {
        "cluster_name": {
          "type": "string"
        },
        "instance_name": {
          "type": "string"
        },
        "namespace": {
          "type": "string"
        }
      },
      "title": "Use specific requests for protos",
      "type": "object"
    },
    "v1beta1SSHGetResponse": {
      "properties": {
        "command": {
          "type": "string"
        },
        "instance_addr": {
          "type": "string"
        },
        "instance_port": {
          "format": "int32",
          "type": "integer"
        },
        "ssh_key": {
          "$ref": "#/definitions/v1beta1SSHKey"
        },
        "user": {
          "type": "string"
        }
      },
      "title": "return phid ?",
      "type": "object"
    },
    "v1beta1SSHKey": {
      "properties": {
        "aws_fingerprint": {
          "type": "string"
        },
        "openssh_fingerprint": {
          "type": "string"
        },
        "private_key": {
          "format": "byte",
          "type": "string"
        },
        "public_key": {
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "host": "api.appscode.com",
  "info": {
    "title": "ssh.proto",
    "version": "1beta1"
  },
  "paths": {
    "/_appscode/api/ssh/v1beta1/ssh/json": {
      "get": {
        "operationId": "Get",
        "parameters": [
          {
            "in": "query",
            "name": "namespace",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "cluster_name",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "instance_name",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1beta1SSHGetResponse"
            }
          }
        },
        "tags": [
          "SSH"
        ]
      }
    }
  },
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0"
}