{
  "basePath": "/",
  "consumes": [
    "application/json"
  ],
  "definitions": {
    "dtypesVoidRequest": {
      "description": "Void Requests and response to use with other types.",
      "type": "object"
    },
    "dtypesVoidResponse": {
      "type": "object"
    },
    "v1beta1Credential": {
      "properties": {
        "information": {
          "type": "string"
        },
        "modified_at": {
          "format": "int64",
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "provider": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1beta1CredentialCreateRequest": {
      "properties": {
        "data": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string"
        },
        "provider": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1beta1CredentialDeleteRequest": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1beta1CredentialDescribeRequest": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1beta1CredentialDescribeResponse": {
      "properties": {
        "credential": {
          "$ref": "#/definitions/v1beta1Credential"
        }
      },
      "type": "object"
    },
    "v1beta1CredentialIsAuthorizedRequest": {
      "properties": {
        "gce_project": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1beta1CredentialIsAuthorizedResponse": {
      "properties": {
        "message": {
          "type": "string"
        },
        "unauthorized": {
          "format": "boolean",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "v1beta1CredentialListResponse": {
      "properties": {
        "credentials": {
          "items": {
            "$ref": "#/definitions/v1beta1Credential"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "v1beta1CredentialUpdateRequest": {
      "properties": {
        "data": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string"
        },
        "provider": {
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "host": "api.appscode.com",
  "info": {
    "title": "credential.proto",
    "version": "1beta1"
  },
  "paths": {
    "/_appscode/api/cloud/v1beta1/credentials/json": {
      "get": {
        "operationId": "List",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1beta1CredentialListResponse"
            }
          }
        },
        "tags": [
          "Credentials"
        ]
      },
      "post": {
        "operationId": "Create",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1beta1CredentialCreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/dtypesVoidResponse"
            }
          }
        },
        "tags": [
          "Credentials"
        ]
      }
    },
    "/_appscode/api/cloud/v1beta1/credentials/{name}/is-authorized/json": {
      "post": {
        "operationId": "IsAuthorized",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1beta1CredentialIsAuthorizedRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1beta1CredentialIsAuthorizedResponse"
            }
          }
        },
        "tags": [
          "Credentials"
        ]
      }
    },
    "/_appscode/api/cloud/v1beta1/credentials/{name}/json": {
      "delete": {
        "operationId": "Delete",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/dtypesVoidResponse"
            }
          }
        },
        "tags": [
          "Credentials"
        ]
      },
      "get": {
        "operationId": "Describe",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1beta1CredentialDescribeResponse"
            }
          }
        },
        "tags": [
          "Credentials"
        ]
      },
      "put": {
        "operationId": "Update",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1beta1CredentialUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/dtypesVoidResponse"
            }
          }
        },
        "tags": [
          "Credentials"
        ]
      }
    }
  },
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0"
}