{
  "basePath": "/",
  "consumes": [
    "application/json"
  ],
  "definitions": {
    "AgentCreateResponseConduitUser": {
      "properties": {
        "email": {
          "type": "string"
        },
        "phid": {
          "type": "string"
        },
        "token": {
          "type": "string"
        },
        "user_name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "dtypesVoidRequest": {
      "description": "Void Requests and response to use with other types.",
      "type": "object"
    },
    "dtypesVoidResponse": {
      "type": "object"
    },
    "v1beta1Agent": {
      "properties": {
        "created_at": {
          "format": "int64",
          "type": "integer"
        },
        "external_ip": {
          "type": "string"
        },
        "internal_ip": {
          "type": "string"
        },
        "isDeleted": {
          "format": "boolean",
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "phid": {
          "type": "string"
        },
        "role": {
          "type": "string"
        },
        "updated_at": {
          "format": "int64",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "v1beta1AgentCreateRequest": {
      "properties": {
        "ca_cert": {
          "type": "string"
        },
        "external_ip": {
          "type": "string"
        },
        "git_ssh_public_key": {
          "type": "string"
        },
        "internal_ip": {
          "type": "string"
        },
        "jenkins_jnlp_port": {
          "format": "int32",
          "type": "integer"
        },
        "jenkins_url": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "role": {
          "type": "string"
        },
        "ssh_port": {
          "format": "int32",
          "type": "integer"
        },
        "ssh_user": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1beta1AgentCreateResponse": {
      "properties": {
        "git_host_public_key": {
          "type": "string"
        },
        "git_hostname": {
          "type": "string"
        },
        "git_user": {
          "$ref": "#/definitions/AgentCreateResponseConduitUser"
        },
        "namespace": {
          "type": "string"
        },
        "ssh_authorized_public_key": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1beta1AgentDeleteRequest": {
      "properties": {
        "uid": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1beta1AgentGetRequest": {
      "properties": {
        "uid": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1beta1AgentGetResponse": {
      "properties": {
        "agent": {
          "$ref": "#/definitions/v1beta1Agent"
        }
      },
      "type": "object"
    },
    "v1beta1AgentListResponse": {
      "properties": {
        "agents": {
          "items": {
            "$ref": "#/definitions/v1beta1Agent"
          },
          "type": "array"
        }
      },
      "type": "object"
    }
  },
  "host": "api.appscode.com",
  "info": {
    "title": "agent.proto",
    "version": "1beta1"
  },
  "paths": {
    "/_appscode/api/ci/v1beta1/agents/json": {
      "get": {
        "operationId": "List",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1beta1AgentListResponse"
            }
          }
        },
        "tags": [
          "Agents"
        ]
      },
      "post": {
        "operationId": "Create",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1beta1AgentCreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1beta1AgentCreateResponse"
            }
          }
        },
        "tags": [
          "Agents"
        ]
      }
    },
    "/_appscode/api/ci/v1beta1/agents/{uid}/json": {
      "delete": {
        "operationId": "Delete",
        "parameters": [
          {
            "in": "path",
            "name": "uid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/dtypesVoidResponse"
            }
          }
        },
        "tags": [
          "Agents"
        ]
      },
      "get": {
        "operationId": "Get",
        "parameters": [
          {
            "in": "path",
            "name": "uid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1beta1AgentGetResponse"
            }
          }
        },
        "tags": [
          "Agents"
        ]
      }
    }
  },
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0"
}