{
  "basePath": "/",
  "consumes": [
    "application/json"
  ],
  "definitions": {
    "dtypesVoidRequest": {
      "description": "Void Requests and response to use with other types.",
      "type": "object"
    },
    "dtypesVoidResponse": {
      "type": "object"
    },
    "v1beta1CSRFTokenResponse": {
      "properties": {
        "csrf_token": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1beta1LoginRequest": {
      "properties": {
        "issue_token": {
          "format": "boolean",
          "type": "boolean"
        },
        "namespace": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "token": {
          "type": "string"
        },
        "username": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1beta1LoginResponse": {
      "properties": {
        "token": {
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "host": "api.appscode.com",
  "info": {
    "title": "authentication.proto",
    "version": "1beta1"
  },
  "paths": {
    "/_appscode/api/auth/v1beta1/csrf-token/json": {
      "get": {
        "operationId": "CSRFToken",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1beta1CSRFTokenResponse"
            }
          }
        },
        "tags": [
          "Authentication"
        ]
      }
    },
    "/_appscode/api/auth/v1beta1/login/json": {
      "post": {
        "operationId": "Login",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1beta1LoginRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1beta1LoginResponse"
            }
          }
        },
        "summary": "This rpc is used to check a valid user from other applications.",
        "tags": [
          "Authentication"
        ]
      }
    },
    "/_appscode/api/auth/v1beta1/logout/json": {
      "post": {
        "operationId": "Logout",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dtypesVoidRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/dtypesVoidResponse"
            }
          }
        },
        "tags": [
          "Authentication"
        ]
      }
    }
  },
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0"
}