{
  "basePath": "/",
  "consumes": [
    "application/json"
  ],
  "definitions": {
    "v1beta1Member": {
      "properties": {
        "is_admin": {
          "format": "boolean",
          "type": "boolean"
        },
        "phid": {
          "type": "string"
        },
        "real_name": {
          "type": "string"
        },
        "user_name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1beta1Project": {
      "properties": {
        "created_at": {
          "format": "int64",
          "type": "integer"
        },
        "edit_policy": {
          "type": "string"
        },
        "has_subprojects": {
          "format": "boolean",
          "type": "boolean"
        },
        "join_policy": {
          "type": "string"
        },
        "members": {
          "items": {
            "$ref": "#/definitions/v1beta1Member"
          },
          "type": "array"
        },
        "membership_locked": {
          "format": "boolean",
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "phid": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "view_policy": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1beta1ProjectListRequest": {
      "properties": {
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "with_member": {
          "format": "boolean",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "v1beta1ProjectListResponse": {
      "properties": {
        "projects": {
          "items": {
            "$ref": "#/definitions/v1beta1Project"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "v1beta1ProjectMemberListRequest": {
      "properties": {
        "uid": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1beta1ProjectMemberListResponse": {
      "properties": {
        "project": {
          "$ref": "#/definitions/v1beta1Project"
        }
      },
      "type": "object"
    }
  },
  "host": "api.appscode.com",
  "info": {
    "title": "project.proto",
    "version": "1beta1"
  },
  "paths": {
    "/_appscode/api/auth/v1beta1/projects/json": {
      "get": {
        "operationId": "List",
        "parameters": [
          {
            "format": "boolean",
            "in": "query",
            "name": "with_member",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "members",
            "required": false,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1beta1ProjectListResponse"
            }
          }
        },
        "tags": [
          "Projects"
        ]
      }
    },
    "/_appscode/api/auth/v1beta1/projects/{uid}/members/json": {
      "get": {
        "operationId": "Members",
        "parameters": [
          {
            "in": "path",
            "name": "uid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1beta1ProjectMemberListResponse"
            }
          }
        },
        "tags": [
          "Projects"
        ]
      }
    }
  },
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0"
}