{
  "basePath": "/",
  "consumes": [
    "application/json"
  ],
  "definitions": {
    "v1beta1Artifact": {
      "properties": {
        "modified_at": {
          "format": "int64",
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1beta1ArtifactListRequest": {
      "properties": {
        "type": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1beta1ArtifactListResponse": {
      "properties": {
        "artifacts": {
          "items": {
            "$ref": "#/definitions/v1beta1Artifact"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "v1beta1ArtifactSearchRequest": {
      "properties": {
        "query": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1beta1ArtifactSearchResponse": {
      "properties": {
        "artifacts": {
          "items": {
            "$ref": "#/definitions/v1beta1Artifact"
          },
          "type": "array"
        }
      },
      "type": "object"
    }
  },
  "host": "api.appscode.com",
  "info": {
    "title": "artifact.proto",
    "version": "1beta1"
  },
  "paths": {
    "/_appscode/api/attic/v1beta1/artifacts/{type}/json": {
      "get": {
        "operationId": "List",
        "parameters": [
          {
            "in": "path",
            "name": "type",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1beta1ArtifactListResponse"
            }
          }
        },
        "tags": [
          "Artifacts"
        ]
      }
    },
    "/_appscode/api/attic/v1beta1/search/json": {
      "get": {
        "operationId": "Search",
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "type",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1beta1ArtifactSearchResponse"
            }
          }
        },
        "tags": [
          "Artifacts"
        ]
      }
    }
  },
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0"
}