{
  "basePath": "/",
  "consumes": [
    "application/json"
  ],
  "definitions": {
    "v1beta1ArtifactVersion": {
      "properties": {
        "docker": {
          "$ref": "#/definitions/v1beta1DockerSpec"
        },
        "id": {
          "type": "string"
        },
        "java": {
          "$ref": "#/definitions/v1beta1JavaSpec"
        },
        "modified_at": {
          "format": "int64",
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "npm": {
          "$ref": "#/definitions/v1beta1NpmSpec"
        },
        "php": {
          "$ref": "#/definitions/v1beta1PhpSpec"
        },
        "type": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1beta1DockerSpec": {
      "properties": {
        "manifest_url": {
          "type": "string"
        },
        "tar_sums": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "v1beta1JavaSpec": {
      "properties": {
        "artifact_id": {
          "type": "string"
        },
        "artifact_url": {
          "type": "string"
        },
        "group_id": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1beta1NpmSpec": {
      "properties": {
        "artifact_id": {
          "type": "string"
        },
        "artifact_url": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "keywords": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "shasum": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1beta1PhpSpec": {
      "properties": {
        "download_url": {
          "type": "string"
        },
        "shasum": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1beta1VersionDescribeRequest": {
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1beta1VersionDescribeResponse": {
      "properties": {
        "version": {
          "$ref": "#/definitions/v1beta1ArtifactVersion"
        }
      },
      "type": "object"
    },
    "v1beta1VersionListRequest": {
      "properties": {
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1beta1VersionListResponse": {
      "properties": {
        "versions": {
          "items": {
            "$ref": "#/definitions/v1beta1ArtifactVersion"
          },
          "type": "array"
        }
      },
      "type": "object"
    }
  },
  "host": "api.appscode.com",
  "info": {
    "title": "version.proto",
    "version": "1beta1"
  },
  "paths": {
    "/_appscode/api/attic/v1beta1/artifacts/{type}/versions/json": {
      "get": {
        "operationId": "List",
        "parameters": [
          {
            "in": "path",
            "name": "type",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1beta1VersionListResponse"
            }
          }
        },
        "tags": [
          "Versions"
        ]
      }
    },
    "/_appscode/api/attic/v1beta1/artifacts/{type}/versions/{id}/json": {
      "get": {
        "operationId": "Describe",
        "parameters": [
          {
            "in": "path",
            "name": "type",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1beta1VersionDescribeResponse"
            }
          }
        },
        "tags": [
          "Versions"
        ]
      }
    }
  },
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0"
}